{% extends 'partials/insidepage.html.twig' %}

{% block sidebar %}
<div class="c-folio-item__description c-folio-item__description--desktop">
    {% if page.header.skills or page.header.description %}<h3>About this project</h3>{% endif %}
    {{ page.header.description }}
      {% if page.header.skills %}
      <ul class="c-skill-list">
        {% for skill in page.header.skills %}
        <li class="c-skill-list__item">{{ skill }}</li>
        {% endfor %}
      </ul>
      {% endif %}
  </div>
{% endblock %}
{% block content %}
    <h2 class="c-folio-item__title">{{ page.header.title }}</h2>
    <h3 class="c-folio-item__subtitle">{{ page.taxonomy.tag|join('/') }}, {{ page.date|date('Y') }}</h3>
    {% if page.header.full_template %}
        {% set item = page %}
        {% include page.header.full_template %}
    {% elseif page.header.preview_template %}
        {% set item = page %}
        {% include page.header.preview_template %}
    {% else %}
        {% set images = page.header.images ? page.header.images : page.header.featured_image %}
        <div class="c-single-item__images">
          {% for image in images %}
            <div class="c-single-item__image">
              {{ page.media[image].html() }}
            </div>
          {% endfor %}
        </div>
    {% endif %}
    <div class="c-folio-item__description c-folio-item__description--mobile">
        {% if page.header.skills or page.header.description %}<h3 class="c-folio-item__subheading">About this project</h3>{% endif %}
        {{ page.header.description }}
          {% if page.header.skills %}
          <ul class="c-skill-list">
            {% for skill in page.header.skills %}
            <li class="c-skill-list__item">{{ skill }}</li>
            {% endfor %}
          </ul>
          {% endif %}
      </div>
    <div class="h-flex h-flex--space-between c-navigation-footer">
        {% if page.prevSibling().url %}
            <div class="c-navigation c-navigation--prev">
            Previous:<br/>
            « <a class="c-navigation__link c-navigation__link--prev" href="{{ page.prevSibling().url }}">{{ page.prevSibling().title }}</a>
            </div>
        {% endif %}
        {% if page.nextSibling().url %}
            <div class="c-navigation c-navigation--next">
            Next:<br/>
            <a class="c-navigation__link c-navigation__link--next" href="{{ page.nextSibling().url }}">{{ page.nextSibling().title }}</a> »
            </div>
        {% endif %}
    </div>
{% endblock %}
