{% extends 'partials/insidepage.html.twig' %}

{% block sidebar %}
    {{ page.header.description }}
{% endblock %}
{% block content %}
    <h2 class="c-folio-item__title">{{ page.header.title }}</h2>
    <h3 class="c-folio-item__subtitle">{{ page.taxonomy.tag|join('/') }}, {{ page.date|date('Y') }}</h3>
    {% if page.header.full_template %}
        {% include page.header.full_template %}
    {% else %}
    <div>
        {% set images = page.header.images ? page.header.images : page.header.featured_image %}
        {% for image in images %}
            {{ page.media[image].html() }}
        {% endfor %}
    </div>
    {% endif %}
    <div class="h-flex h-flex--space-between">
        {% if page.prevSibling() %}
            <div class="c-navigation c-navigation--prev">
            Previous:<br/>
            « <a class="c-navigation__link c-navigation__link--prev" href="{{ page.prevSibling().url }}">{{ page.prevSibling().title }}</a>
            </div>
        {% endif %}
        {% if page.nextSibling() %}
            <div class="c-navigation c-navigation--next">
            Next:<br/>
            <a class="c-navigation__link c-navigation__link--next" href="{{ page.nextSibling().url }}">{{ page.nextSibling().title }}</a> »
            </div>
        {% endif %}
    </div>
{% endblock %}
