{% if item.media.images %}
<a href="{{ item.url }}" class="c-folio-item {{ item.taxonomy.tag|join('*')|replace(' ','-')|replace('*',' ')|lower }}">
  <h2 class="c-folio-item__title">{{ item.header.title }}</h2>
  <h3 class="c-folio-item__subtitle">{{ item.taxonomy.tag|join('/') }}, {{ item.date|date('Y') }}</h3>
  {% if item.header.template %}
    {% include item.header.template %}
  {% else %}
  <div class="c-folio-item__images">
    {% if item.header.featured_image %}
      {% if item.header.featured_image is iterable %}
        {% for image in item.header.featured_image %}
          <div class="c-folio-item__image">
            {{ item.media[image].html() }}
          </div>
        {% endfor %}
      {% else %}
        <div class="c-folio-item__image">
        {{ item.media[item.header.featured_image].html() }}
      </div>
      {% endif %}
    {% else %}
      <div class="c-folio-item__image">
      {{ item.media.images|first.html() }}
    </div>
    {% endif %}
  </div>
  {% endif %}
  <div class="c-folio-item__content">
    <p class="c-folio-item__description">{{ item.header.description }}</p>
    {% if item.header.skills %}
    <ul class="c-skill-list">
      {% for skill in item.header.skills %}
      <li class="c-skill-list__item">{{ skill }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</a>
{% endif %}
