<div class="c-job c-resume__section">
  <h3 class="c-job__title c-resume__section-title">{{ job.title }}</h3>
  <div class="c-job__body c-resume__section-body">
    <div class="c-job__details">
      <h4 class="c-job__employer">{{ job.employer }}</h4>
      <span class="c-job__dates">{{ job.date_started|date('F Y') }} &ndash; {{ job.date_ended|date('F Y') }}</span>
    </div>
    {% if job.description %}
    <div class="c-job__description">
      {% if job.description is iterable %}
        <ul>
        {% for item in job.description %}
          <li>{{ item }}</li>
        {% endfor %}
        </ul>
      {% else %}
        <p>{{ job.description }}</p>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
