<div class="h-flex">
  <div class="c-grid--medium-68">
    {{ item.media[item.header.featured_image[0]].html() }}
  </div>
  <div class="h-flex h-flex--vertical c-grid--medium-32">
    <div>{{ item.media[item.header.featured_image[1]].html() }}</div>
    <div>{{ item.media[item.header.featured_image[2]].html() }}</div>
  </div>
</div>
<div class="h-flex">
  <div class="c-grid--medium-33">{{ item.media[item.header.featured_image[3]].html() }}</div>
  <div class="c-grid--medium-33">{{ item.media[item.header.featured_image[4]].html() }}</div>
  <div class="c-grid--medium-33">{{ item.media[item.header.featured_image[5]].html() }}</div>
</div>
