<div class="c-grid h-flex" style="align-items: center">
    <div class="c-grid--medium-50">{{ item.media[item.header.featured_image[0]].html() }}</div>
    <div class="c-grid--medium-50">{{ item.media[item.header.featured_image[1]].html() }}</div>
    <div class="c-grid--medium-50">{{ item.media[item.header.featured_image[2]].html() }}</div>
    <div class="c-grid--medium-50">{{ item.media[item.header.featured_image[3]].html() }}</div>
    <div class="c-grid--medium-50">{{ item.media[item.header.featured_image[4]].html() }}</div>
    <div class="c-grid--medium-50">{{ item.media[item.header.featured_image[5]].html() }}</div>
</div>
